* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.op70 {
  opacity: 70%;
}

.bannerBox {
  top: 3rem;
  height: 70vh!important;
  width: 30vw!important;
  background: rgba(123, 36, 38, 0.9)!important;
  position: absolute;
  z-index: 99;
  right: 2rem;
  top: 1rem;
  background: rgba(51, 51, 51, 0.85);
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  overflow-y:auto;
}

.announce li {
  margin-top: 1rem;
}

@media screen and (max-width:800px) {
  .bannerBox
  {
    font-size: 0.6em;

  }

}





